**__pycache__
**.pyc
**.pytest_cache
**.vscode
.github
.gitignore
.venv
amlsim.yml
experiments/data
experiments/param_files
experiments/results
flib.egg-info
flib/sim/AMLsim/outputs
flib/sim/AMLsim/paramFiles
flib/sim/AMLsim/target
flib/sim/AMLsim/tmp
flib/sim/AMLsim/Dockerfile
resources
flib/train/gnn/data